.logo {
  display: inline-flex;
  font-family: $logo-text-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: $primary-logo-color;
}

.logo--black {
  margin-left: 8px;
  color: $logo-top-color;
}

.logo--white {
  margin-left: 8px;
  color: $logo-bottom-color;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 85px;
    font-size: 26px;
    line-height: 1.19;
  }
}
