.example__options {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.example__list {
  margin-top: 40px;
}

.example__item {
  width: calc(100%);
  margin-right: 30px;
}

.example__item {
  &:not(:first-child) {
    margin-top: 30px;
  }
}

.example__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primary-headline;
}

.example__description {
  font-size: 16px;
  line-height: 1.88;
  color: $primary-font-color;
}

.example__photodescription {
  position: relative;
  overflow: hidden;
}

.example__about {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: $primary-background-color;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example__link {
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.example__about {
  .example__link:hover &,
  .example__link:focus & {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .example__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .example__item {
    &:not(:first-child) {
      margin-top: 0px;
    }
    &:nth-child(n + 3) {
      margin-top: 30px;
    }
    margin-right: 0;
    width: calc((100% - 30px) / 2);
    &:nth-child(odd) {
      margin-right: 30px;
    }
  }
  .example__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
