.features__headline {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__item {
  width: calc(100%);
}

.features__picture {
  display: flex;
  width: calc(100%);
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__antenna,
.features__clock,
.features__diagram,
.features__astronaut {
  width: 70px;
  height: 70px;
  margin: auto;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $primary-headline;
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 480px) {
  .features__item {
    width: 450px;
  }

  .features__picture {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    width: calc((100% - 30px) / 2);
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-child(n + 3) {
      margin-top: 30px;
    }
  }

  .features__picture {
    width: calc(100%);
  }

  .features__title {
    text-align: start;
  }
}
