.ourprojects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-bottom: 50px;
}

.ourprojects-filters {
  margin-top: 15px;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.filters-btn {
  display: block;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-width: 0px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  background-color: $filtersbuttonbackground;
  color: $filters;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn {
  &:hover,
  &:focus {
    color: $primary-background-color;
    background-color: $activestate;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}
