.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

/* Форма закза */

.modal {
  position: absolute;
  top: 93px;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: $primary-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.closebtn {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: $primary-background-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.closebtn__icon {
  width: 18px;
  height: 18px;
  margin: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closebtn__icon {
  .closebtn:hover &,
  .closebtn:focus & {
    fill: $activestate;
  }
}

.modal__invite {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: $primary-headline;
}

.order {
  margin-top: 30px;
}

.order__label {
  position: relative;
  &:not(:first-child) {
    margin-top: 28px;
  }
}

.comments {
  position: relative;
  margin-top: 28px;
}

.order__input {
  width: 370px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.order__icon {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 18px;
  height: 18px;
  fill: $primary-headline;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order__icon {
  .order__input:focus ~ &,
  .order__input:not(:placeholder-shown) ~ & {
    fill: $activestate;
  }
}

.order__text,
.comments__text {
  position: absolute;
  top: 12px;
  left: 0;
  margin-left: 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order__text {
  .order__label:focus-within &,
  .order__input:not(:placeholder-shown) + & {
    transform: translate(-25px, -30px);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $activestate;
  }
}

.comments__text {
  .comments:focus-within &,
  .comments__area:not(:placeholder-shown) + & {
    transform: translate(-25px, -30px);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $activestate;
  }
}

.comments__area {
  resize: none;
  width: 370px;
  height: 120px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.comments__text {
  margin-left: 16px;
}

.comments__text {
  .comments:focus-within & {
    transform: translateY(-30px);
  }
}
.comments__text {
  .comments__area:not(:placeholder-shown) + & {
    transform: translateY(-30px);
  }
}

.order__input,
.comments__area {
  &:focus {
    border-color: $activestate;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 20px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__custom-made {
  display: flex;
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -20px;
  align-items: center;
  border: 2px solid $primary-headline;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon {
  width: 12px;
  height: 12px;
  fill: $primary-background-color;
  opacity: 0;
}

.checkbox__custom-made {
  .checkbox__input:checked + & {
    background-color: $activestate;
    border: 2px solid $activestate;
  }
  .checkbox__icon {
    .checkbox__input:checked + & {
      opacity: 1;
    }
  }
}

.checkbox__text {
  margin-right: 2px;
  font-size: 12px;
  line-height: 1.17px;
}

.checkbox__link {
  font-size: 12px;
  line-height: 1.17px;
  text-decoration-line: underline;
  color: #2196f3;
}

.checkbox__text--decoration {
  display: flex;
  align-items: baseline;
}

.order {
  .mainbtn {
    margin-top: 30px;
  }
}
