.ourteam {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.ourteam__maintitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: $primary-headline;
}

.ourteam__list {
  margin-top: 30px;
}

.ourteam__item {
  width: 450px;
  background-color: $primary-background-color;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  padding-bottom: 24px;
}

.ourteam__item {
  &:not(:first-child) {
    margin-top: 30px;
  }
}

.ourteam__photo {
  margin-bottom: 30px;
}

.ourteam__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $primary-headline;
}

.ourteam__description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.socialnetworks {
  display: flex;
  justify-content: center;
}

.socialnetworks__link {
  display: flex;
  width: 44px;
  height: 44px;
  background: $joinin-links-background;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialnetworks__icon {
  width: 20px;
  height: 20px;
  margin: auto;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialnetworks__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.socialnetworks__link {
  &:hover,
  &:focus {
    background-color: $activestate;
  }
}

.socialnetworks__icon {
  .socialnetworks__link:hover &,
  .socialnetworks__link:focus & {
    fill: $primary-background-color;
  }
}
