.partners {
  padding-top: 60px;
  padding-bottom: 60px;
}

.partners__maintitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: $primary-headline;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.partners__link {
  display: flex;
  height: 90px;
  border: 1px solid $primary-font-color;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__item {
  &:nth-child(n + 3) {
    margin-top: 30px;
  }
}

.partners__item {
  width: calc((100% - 30px) / 2);
  &:nth-child(odd) {
    margin-right: 30px;
  }
}

.partners__icon {
  margin: auto;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link {
  &:hover,
  &:focus {
    border-color: $activestate;
    fill: $activestate;
  }
}

.partners__icon {
  .partners__link:hover &,
  .partners__link:focus & {
    border-color: $activestate;
    fill: $activestate;
  }
}

@media screen and (min-width: 768px) {
  .partners__item {
    width: calc((100% - 60px) / 3);
    &:nth-child(n + 3) {
      margin-top: 0px;
    }
    &:nth-child(odd) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 3),
    &:nth-child(-n + 2) {
      margin-right: 30px;
    }
    &:nth-last-child(1) {
      margin-right: 0px;
    }
    &:nth-child(n + 4) {
      margin-top: 30px;
    }
  }
}
