.ourprojects__headline {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.ourprojects {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-main {
  border-top: 1px solid $header-border;
}

@media screen and (min-width: 1200px) {
  .ourprojects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
