$primary-background-color: #ffffff;
$primary-font-color: #757575;
$primary-logo-color: #2196f3;
$logo-top-color: #000000;
$logo-bottom-color: #ffffff;
$main-bottom-color: #ffffff;
$pages-name: #212121;
$primary-headline: #212121;
$h1-h3-headline: #ffffff;
$main-button-hover: #188ce8;
$footerheadelements: #ffffff;
$footerelements: rgba(255, 255, 255, 0.6);
$joinin-links-background: rgba(255, 255, 255, 0.1);
$activestate: #2196f3;
/* Портфолио */
$filtersbuttonbackground: #f5f4fa;
$filters: #212121;
